<div class="container">
  <div class="row">
    <div class="col">
      <h1>Informações das Empresas</h1>
      <div *ngFor="let company of companies">
        <h2>{{ company.profile.name }} ({{ company.symbol }})</h2>
        <p><strong>Indústria:</strong> {{ company.profile.finnhubIndustry }}</p>
        <p><strong>Website:</strong> <a [href]="company.profile.weburl" target="_blank">{{ company.profile.weburl }}</a></p>
        <p><strong>Preço Atual:</strong> {{ company.quote.c }}</p>
        <p><strong>Alta do Dia:</strong> {{ company.quote.h }}</p>
        <p><strong>Baixa do Dia:</strong> {{ company.quote.l }}</p>
        <hr>
      </div>
    </div>
  </div>
</div>
