<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div *ngIf="stockQuote">
    <h1>Cotação da Ação</h1>
    <p>Preço Atual: {{ stockQuote.c }}</p>
    <p>Alta do Dia: {{ stockQuote.h }}</p>
    <p>Baixa do Dia: {{ stockQuote.l }}</p>
  </div>
  
  <div *ngIf="companyProfile">
    <h1>Perfil da Empresa</h1>
    <p>Nome: {{ companyProfile.name }}</p>
    <p>Indústria: {{ companyProfile.finnhubIndustry }}</p>
    <p>Website: <a [href]="companyProfile.weburl" target="_blank">{{ companyProfile.weburl }}</a></p>
  </div>
</body>
</html>

